services:
  backend:
    build: ./backend
    container_name: tmdb-backend
    ports:
    - "5000:5000"
    env_file:
    - .env
    volumes:
    - ./backend:/app
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: tmdb-frontend
    ports:
    - "5173:5173"
    env_file:
    - .env
    depends_on:
    - backend
    restart: unless-stopped
