@import "tailwindcss";

html, body {
  background-color: #09090b; /* Equivalente ao zinc-950 */
  margin: 0;
  padding: 0;
  color: white;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
  }
}

.movie-card {
  transition: transform 0.3s ease;
}
.movie-card:hover {
  transform: scale(1.08);
  z-index: 20;
}

.hero-gradient {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.4),
    transparent
  );
}

/* index.css */

.hero-backdrop {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.4s ease-in-out;
}

.hero-backdrop::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(25, 25, 29, 0.027),
    rgba(9, 9, 11, 0.205)
  );
  z-index: 0;
}

.hero-bg-1 {
  background-image: url("https://image.tmdb.org/t/p/original/wMmcCe6kgQmXIC2R1UmomoIV85e.jpg");
}

.hero-bg-2 {
  background-image: url("https://image.tmdb.org/t/p/original/65BTgbR7w8g5h8PlNwUgRVWqPyQ.jpg");
}

.hero-bg-3 {
  background-image: url("https://image.tmdb.org/t/p/original/5PqKzRkcPZOsKy1sqAC8IrYkeyc.jpg");
}

.hero-bg-4 {
  background-image: url("https://image.tmdb.org/t/p/original/vJlFZWFUyOVIBtphvgEulRhbPhF.jpg");
}

.hero-bg-5 {
  background-image: url("https://image.tmdb.org/t/p/original/orjiB3oUIsyz60hoEqkiGpy5CeO.jpg");
}

.hero-bg-6 {
  background-image: url("https://image.tmdb.org/t/p/original/vm4H1DivjQoNIm0Vs6i3CTzFxQ0.jpg");
}

.hero-bg-7 {
  background-image: url("https://image.tmdb.org/t/p/original/7rkUimHYSODfYV9vH3NWInA1p7M.jpg");
}

.hero-bg-8 {
  background-image: url("https://image.tmdb.org/t/p/original/xN6SBJVG8jqqKQrgxthn3J2m49S.jpg");
}

.hero-bg-9 {
  background-image: url("https://image.tmdb.org/t/p/original/mGwdSEJDJUGC5SXbLin01PgU9PB.jpg");
}

.hero-bg-9 {
  background-image: url("https://image.tmdb.org/t/p/original/eJ4kZhNhyGqDTBQ4fc6SWmAX5Rt.jpg");
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.6s ease-out forwards;
}
